* {
  font-family: "Poppins", sans-serif;
}

body {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  width: 100%;
}

header {
  height: 80px;
  color: aliceblue;
  background: rgb(121, 9, 16);
  background: linear-gradient(
    -90deg,
    rgba(121, 9, 16, 1) 7%,
    rgba(2, 0, 36, 1) 93%
  );
  display: flex;
  justify-content: flex-end;
  /* margin: -20px; */
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#search {
  position: relative; /* Tambahkan posisi relatif pada elemen induk */
}

.search-icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.search-list{
  position: absolute;
  right: 10;
  top :100%;
  max-height: 400px;
  overflow-y: scroll;
  z-index: 10;
}

.search-list .search-list-item{
  background: rgb(121, 9, 16);
  color: white;
  padding: 0.5rem;
  width: 350px;
  cursor:pointer;
}

.search-list-item{
  display: flex;
  align-items: center;
}

.search-item-movie img{
  width: 50px;
  margin-right: 1rem;
}

.search-item-info h3{
  
  font-weight: 600;
  font-size: 1rem;

}

.search-item-info p{
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity:0.6;
}

.hide-search-list{
  display:none;
}

.sm-login {
  display: flex;
  margin-top: 15px;
}

nav ul {
  align-items: center;
  display: flex;
  /* justify-content: flex-end; */
  padding-left: 50px;
  padding-right: 50px;
}

nav ul input {
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  height: 25px;
  width: 250px;
  margin-right: 20px;
  font-weight: 300;
}

.logo {
  /* margin-left: 85px; */
  align-items: center;
  left: 48px;
  position: absolute;
  /* top: 10px; */
}

.logo a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.bagian-atas {
  margin-top: 16px;
}

.bagian-atas p:hover {
  transform: translateY(-5px);
  text-shadow: 0 0 4px rgb(121, 9, 16);
}

.bagian-atas p {
  display: inline-block;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  transition: transform 250ms;
}

.bagian-atas a {
  text-decoration: none;
  color: black;
}

.bagian-atas img {
  position: relative;
  top: 3px;
  width: 15px;
}

#login a {
  text-decoration: none;
  color: aliceblue;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.username {
  position: relative;
  cursor: pointer;
}

.username span {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 16px;
  border: 1px solid #cccccc;
  z-index: 3;
}

.username.open .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transform: translateX(-25px);
}

.dropdown-menu li {
  list-style: none;
  margin: 5px 0;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333333;
}

.dropdown-menu li a:hover {
  color: black;
  text-shadow: 0 0 2px rgb(121, 9, 16);
}
