* {
    font-family: "Poppins", sans-serif;
  }
  
  .search {
    margin-left: 48px;
  }

  .row{
    margin: 10px 70px;
    
  }

  .card {
    border-radius: 12px;
    height: auto;
    border: solid 1px;
    margin-top: 30px;
    cursor: pointer;
}

.card h2 p{
  display: flex;
}

img{
  width: 80px;
  margin-right: 20px;
}
