<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="js/LoginController.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    @!section('styleu')
    @!section('scriptJs')
</head>

<body>
    @if(request.url() !== '/login' && request.url() !== '/register')
    <!-- Tampilkan navbar hanya jika bukan halaman login -->
    @include('component/navbar')
    @endif

    @!section('content')

    @if(request.url() !== '/login' && request.url() !== '/register')
    <!-- Tampilkan footer jika bukan halaman login -->
    @include('component/footer')
    @endif

</body>

</html>